.footer-container{
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(2, 27, 27);
    color: white;
    position: relative;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.copyrights-layout{
   color: white;
    margin-top: -1em;
   font-weight: lighter;
   font-size: 1em;
   letter-spacing: 0.05em;
   color: #fff;
   margin-bottom: -1em;
    background-color: rgb(1, 19, 19);
}
li{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 2px;
}
ul{
    font-weight: bold;
    margin-bottom: 4px;
}