/*****/
.textOnInput {
    position: relative;
    margin-bottom: 30px;
  
  }
  .textOnInput label {
    position: absolute;
    top: -15px;
    left: 20px;
    padding: 2px;
   
  }
  input:focus {
    outline: none !important; 
    
}
  
  label {
  
    width: 30%;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    display: inline-block;
    margin-bottom: .5rem;
    background-color: white;
  }
  .form-control {
    box-shadow: none !important;
    height: 45px;
    width: 100%;
  }
  .login-container{
    background-color: white;
    margin-top: 2em;
    margin-left: 25em;
    margin-right: 25em;
    padding: 5em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  @media only screen and (max-width: 992px) {
    .login-container{
      margin-top: 1em;
      margin-left: 5em;
      margin-right: 5em;
      padding: 2em;
      border-radius: 1em;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

  }

